.contact-us {
  background-image: url(/img/cont/bg-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  .sm-block({
    flex-direction: column;
  });
  .details {
    margin-left: auto;
    padding-left: 30px;
    color: white;

    .sm-block({
      margin-left: 0px;
      margin-right: auto;
    });

    &__title:extend(.h2) {
      font-weight: 500;
      color: white;
      padding-top: 3%;
      padding-bottom: 24px;
    }

    &__mob-img {
      display: none;
      .sm-block({
        display: block;
      });
    }
    &__subtitle {
      font-family: @rob;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      padding-bottom: 15px;
    }
    &__adress {
      margin-bottom: 40px;
    }

    &__txt:extend(.p) {
      color: white;
    }
    &__phone {
      position: relative;
      margin-bottom: 40px;
    }

    &__number:extend(.p) {
      color: white;
    }

    &__number-b {
      font-weight: 500;
    }

    &__phone::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      bottom: -40px;
    }

    .program {
      position: relative;
      max-width: 190px;
      margin-top: 80px;

      &__title {
        font-family: @rob;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
      }

      &__list {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .sm-block({
          padding-bottom: 70px;
        });
      }

      &__item {
        font-family: @rob;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      &__text-mob {
        display: none;
        .sm-block({
          display: block;
          margin-bottom: 10px;
          font-family: @rob;
          font-size: 24px;
          font-weight: 700;

        });
      }

      &__social {
        position: absolute;
        top: 110px;
        right: -80%;

        .sm-block({
          top: 90%;
          left: 0px;
          right: 0px;
        });

        .program__social-wrapp {
          .lg-block({
            display: none;
          });

          .sm-block({
            display: flex;
          });
        }

        .icon {
          margin-bottom: 10px;
          .sm-block({
            margin-right: 15px;
          });
        }
      }
    }
  }
  .contact__group {
    margin-left: auto;
    .sm-block({
      margin-left: 0px;
      margin-top: 50px
    });
    .table__img {
      display: block;
      .sm-block({
        display: none;
      });
    }
  }
}

/*Requisites PAGE */

.requisites {
  margin-top: 8%;
  .wrapper {
    .bank {
      margin-left: 85px;
      position: relative;
      .xs( margin-left, 0px);

      &__name:extend(.h2) {
        position: relative;
        padding-left: 80px;
        margin-bottom: 25px;
        .xs-block({
          font-size: 30px;
          font-weight: 500;
          line-height: 44px;
        });
      }
      &__name-1::before {
        content: url(/img/recz/bank-1.png);
        position: absolute;
        left: 0px;
      }
      &__name-2::before {
        content: url(/img/recz/bank-2.png);
        position: absolute;
        left: 0px;
      }
      &__name-3::before {
        content: url(/img/recz/bank-3.png);
        position: absolute;
        left: 0px;
      }
      &__name-4::before {
        content: url(/img/recz/bank-4.png);
        position: absolute;
        left: 0px;
      }
      &__name-5::before {
        content: url(/img/recz/bank-5.png);
        position: absolute;
        left: 0px;
      }
      &__name-6::before {
        content: url(/img/recz/bank-6.png);
        position: absolute;
        left: 0px;
      }
      &__name-7::before {
        content: url(/img/recz/bank-7.png);
        position: absolute;
        left: 0px;
      }
      &__details {
        font-family: @rob;
        font-size: 18px;
        line-height: 21px;
        color: #24202199;
        margin-bottom: 25px;
      }
    }
    .bank-1::before {
      content: "01";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
    .bank-2::before {
      content: "02";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
    .bank-3::before {
      content: "03";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
    .bank-4::before {
      content: "04";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
    .bank-5::before {
      content: "05";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
    .bank-6::before {
      content: "06";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
    .bank-7::before {
      content: "07";
      position: absolute;
      left: -80px;
      font-size: 24px;
      line-height: 28px;
      font-family: @rob;
      font-weight: 500;
      color: #24202133;
      .xs(display, none);
    }
  }
}

/* About Leasing Page */

.leasing {
  margin-top: 5%;
  .wrapper {
    .items__wrapp {
      .row-flex();
      justify-content: center;
      .md(justify-content, center);
      .leasing__img {
        .col();
        .size(6);
        .size-xl(7);
        .md-block({
          .size(12);
          margin-left: 25px;
        });
        position: relative;
      }
      .leasing__img::before {
        content: url(/img/a-leasing/img-lines.png);
        position: absolute;
        z-index: -1;
        bottom: -40px;
        left: -15px;
        .sm-block({
          content: url(/img/a-leasing/img-lines-mob.png);
        });
      }

      .leasing__text {
        .col();
        .size(6);
        .size-xl(5);
        .size-md(10);
        .size-sm(12);
        .sm-block({
          margin-top: 15%;
          font-size: 16px;
          line-height: 29px;
          margin-left: 40px;
        });
        margin-top: 4%;
        position: relative;
        font-family: @rob;
        line-height: 43px;
        font-size: 24px;
        font-weight: 400;
        color: #2420219f;
        .leasing__txt-b {
          font-weight: 500;
          color: @dark;
        }
      }
      .leasing__text::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: @green;
        top: 12px;
        left: -40px;
        .sm-block({
          top: 6px;
          left: -30px;
        });
      }
    }
  }
}

.notions-section {
  margin-top: 10%;
  .wrapper {
    .items__wrapp {
      .row-flex();
      justify-content: center;

      .notions {
        .col();
        .size(5);
        .md-block({
          .size(12);
          order: 2;
        });

        &__text {
          padding-bottom: 38px;
          position: relative;
          font-family: @rob;
          line-height: 29px;
          font-size: 16px;
          font-weight: 400;
          color: #2420219f;
          .sm-block({
            margin-left: 40px;
            margin-top: 20px;
          });
        }
        &__text::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: @green;
          top: 7px;
          left: -40px;
          box-shadow: 0px 5px 15px 0px #083a2a26;
        }
        .notions__text-b {
          font-weight: 500;
          color: @dark;
        }

        .goods {
          margin-bottom: 38px;
          .sm-block({
            margin-left: 40px;
          });

          &__text {
            //padding-bottom: 20px;
            position: relative;
            font-family: @rob;
            line-height: 29px;
            font-size: 16px;
            font-weight: 400;
            color: #2420219f;
          }

          &__text::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: @green;
            top: 7px;
            left: -40px;
            box-shadow: 0px 5px 15px 0px #083a2a26;
          }

          &__subtext {
            padding-top: 15px;
            font-family: @rob;
            line-height: 29px;
            font-size: 16px;
            font-weight: 400;
            color: #2420219f;
          }
        }
      }

      .notions__img {
        .col();
        .size(6);
        .shift-left(1);
        .md-block({
          .size(12);
          .shift-left(0);
          order: 0
        });
      }
    }
  }
}

.leasing-advantage {
  margin-top: 8%;
  margin-bottom: 8%;
  .wrapper {
    .leasing-advantage-title:extend(.h2) {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px;
    }

    .items__wrapp {
      .row-flex();
      justify-content: center;

      .adv-l {
        overflow: hidden;
        .col();
        .size(4);
        .md-block({
          .size(6);
          margin-bottom: 30px;
        });
        .xs-block({
          .size(12);
          margin-bottom: 30px;
          background: url(/img/a-leasing/bg-green.png), #017550;
        });
        background-image: url(/img/a-leasing/bg-black.png);

        &__number {
          text-align: center;
          font-family: @rob;
          font-weight: 500;
          font-size: 150px;
          line-height: 270px;
          padding: 60px 0px;

          .xs-block({
            padding: 0px;
            transform: scale(0.5);
            margin-left: -180px;
            margin-top: -20px;
            line-height: 200px;
          });
        }

        &__text {
          position: absolute;
          visibility: hidden;
          color: rgb(255, 255, 255);
          font-family: @rob;
          font-weight: 500;
          font-size: 16px;
          line-height: 29px;
          max-width: 342px;
          margin-left: 20px;
          .xl-block({
            max-width: 242px;
            line-height: 24px;
          });
          .xs-block({
            max-width: 332px;
            position: static;
            visibility: visible;
            transform: translateY(-30px);
          });
        }
      }
      /* ANULATION ALL HOVER EFFECTS ON XS SCREEN!!!! */
      .adv-l:hover {
        background: url(/img/a-leasing/bg-green.png), #017550;
      }
      .adv-l:hover::before {
        content: "";
        height: 390px;
        width: 5px;
        background-color: black;
        position: absolute;
      }

      .adv-l:hover .adv-l__number {
        transition: 0.5s;
        transform: scale(0.5);
        margin-left: -250px;
        margin-top: -60px;
        .xl-block({
          margin-left: -200px;
          margin-top: -60px;
        });
      }
      .adv-l:hover .adv-l__text {
        visibility: visible;
        transition: 0.5s;
        margin-left: 20px;
        transform: translateY(-120px);
      }
    }
  }
}

.juridic-section {
  margin-top: 10%;
  .wrapper {
    .juridic__img {
      .sm(display, none);
    }
    .juridic-section-text {
      font-family: @osw;
      font-size: 24px;
      font-weight: 500;
      line-height: 43px;
      color: @green;
      position: relative;
      top: -35px;
      left: 40px;

      .sm-block({
        left: 0px;
        color: rgba(0, 0, 0, 1);
      });
    }
    .container {
      .row-flex();
      justify-content: space-between;
      .left-side {
        .col();
        .size(5);
        .size-sm(12);
        .left__text {
          padding-bottom: 38px;
          position: relative;
          font-family: @rob;
          line-height: 29px;
          font-size: 16px;
          font-weight: 400;
          color: #2420219f;
          .sm(margin-left, 40px);
        }
        .left__text-b {
          font-weight: 500;
          color: @dark;
        }
        .left__text::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: @green;
          top: 7px;
          left: -40px;
          box-shadow: 0px 5px 15px 0px #083a2a26;
        }
      }
      .right-side {
        .col();
        .size(5);
        .size-sm(12);

        .right__text {
          padding-bottom: 38px;
          position: relative;
          font-family: @rob;
          line-height: 29px;
          font-size: 16px;
          font-weight: 400;
          color: #2420219f;
          .sm(margin-left, 40px);
        }
        .right__text-b {
          font-weight: 500;
          color: @dark;
        }
        .right__text::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: @green;
          top: 7px;
          left: -40px;
          box-shadow: 0px 5px 15px 0px #083a2a26;
        }
      }
    }
  }
}

.fizic-section {
  margin-top: 10%;
  .wrapper {
    .fizic__img {
      .sm(display, none);
    }
    .fizic-section-text {
      font-family: @osw;
      font-size: 24px;
      font-weight: 500;
      line-height: 43px;
      color: @green;
      position: relative;
      top: -35px;
      left: 40px;
      .sm-block({
        left: 0px;
        color: rgba(0, 0, 0, 1);
      });
    }
    .container {
      .row-flex();
      justify-content: space-between;
      .left-side {
        .col();
        .size(5);
        .size-sm(12);
        .left__text {
          padding-bottom: 38px;
          position: relative;
          font-family: @rob;
          line-height: 29px;
          font-size: 16px;
          font-weight: 400;
          color: #2420219f;
          .sm(margin-left, 40px);
        }
        .left__text-b {
          font-weight: 500;
          color: @dark;
        }
        .left__text::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: @green;
          top: 7px;
          left: -40px;
          box-shadow: 0px 5px 15px 0px #083a2a26;
        }
      }
      .right-side {
        .col();
        .size(5);
        .size-sm(12);
        .right__text {
          padding-bottom: 38px;
          position: relative;
          font-family: @rob;
          line-height: 29px;
          font-size: 16px;
          font-weight: 400;
          color: #2420219f;
          .sm(margin-left, 40px);
        }
        .right__text-b {
          font-weight: 500;
          color: @dark;
        }
        .right__text::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: @green;
          top: 7px;
          left: -40px;
          box-shadow: 0px 5px 15px 0px #083a2a26;
        }
      }
    }
  }
}
