.news-section {
  margin-top: 7%;
  .wrapper {
    .news-wrapp {
      .row-flex();

      .news {
        margin-bottom: 2%;
        position: relative;
        .col();
        .size(6);
        .size-sm(12);

        &__date {
          position: absolute;
          left: 38px;
          top: 45px;
          font-family: @rob;
          font-weight: 500;
          font-size: 16px;
          color: white;
          .sm-block({
            bottom: 24px;
            left: 18px;
          });
        }

        &__title {
          position: absolute;
          max-width: 316px;
          font-family: @rob;
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          color: white;
          bottom: 44px;
          left: 38px;
          .sm-block({
            font-size: 20px;
            bottom: 24px;
            left: 18px;
            line-height: 26px;
          });
        }
      }
    }
  }
}

/* offer page */
.offer-section {
  margin-bottom: 5%;
  margin-top: 5%;
  .wrapper {
    .offer-wrapp {
    /*   display: flex;
      .sm-block({
        flex-direction: column;
      }); */

      .row-flex();
      justify-content: center;

      .offer__img {
        .col();
        .size(7);
        .size-sm(12);
        //margin-left: -30px;
        //margin-right: 30px;
      }

      .offer-desk-img{
        .sm-block({
          display: none;
        });
      }

      .offer-mob-img{
        display: none;
        .sm-block({
          display: block;
        });
        .xs-block({
          display: block;
          height: 320px;
          width: 100%;
        });
      }


      .offer {
        .col();
        .size(5);
        .size-sm(12);
        margin-top: 15%;
        .sm-block({
          margin-top: 10%;
        });

        &__title:extend(.h2) {
          text-transform: uppercase;
          margin-bottom: 25px;
        }

        &__subtitle {
          font-family: @rob;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          max-width: 436px;
        }

        &__subtitle-green {
          color: @green;
        }

        &__text {
          padding-left: 20px;
          margin-top: 20px;
          margin-bottom: 50px;
          font-weight: 400;
          max-width: 456px;
          font-family: @rob;
          font-size: 16px;
          line-height: 24px;
          position: relative;
          .sm-block({
            margin-bottom: 30px;
          });
        }
        &__text::before {
          content: "*";
          color: @green;
        }

        &__input {
          max-width: 455px;
          display: flex;
        }
        &__email {
          height: 50px;
          width: 100%;
          padding-left: 20px;
        }

        &__btn:extend(.btn) {
          padding: 13px 25px;
          display: inline-block;
        }

        &__bg {
          position: absolute;
          top: 30%;
          right: 0px;
          .sm(display, none);
        }
      }
    }
  }
}

.faq-section {
  margin-top: 5%;
  margin-bottom: 5%;
  .wrapper {
    .faq {
      .accordion {
        display: block;
        position: relative;
        font-weight: 400;
        font-family: @rob;
        font-size: 24px;
        line-height: 36px;
        padding-left: 78px;
        padding-top: 17px;
        padding-bottom: 17px;
        margin-top: 30px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        background-color: #ffffff;
        border: 1px solid #b7cec7;
        .xs-block({
          font-size: 20px;
        });
      }

      .accordion::before {
        content: "";
        background-color: #017550;
        width: 13px;
        height: 2px;
        position: absolute;
        right: 20px;
        top: 50%;
        transition: 0.3s;
      }

      .accordion::after {
        content: "";
        background-color: #017550;
        width: 13px;
        height: 2px;
        right: 20px;
        top: 50%;
        transform: rotate(90deg);
        position: absolute;
        transition: 0.3s;
      }

      .accordion-anim::after {
        transform: rotate(180deg);
        transition: 0.3s;
      }

      .acc__icon {
        position: relative;
      }

      .acc__icon::before {
        content: url(/img/faq-icon.png);
        position: absolute;
        left: -40px;
        top: 3px;
      }

      .acc__icon::after {
        content: "";
        position: absolute;
        background-color: @dark;
        width: 5px;
        height: 70px;
        top: -17px;
        left: -78px;
        .sm-block({
          background-color: @green;
        });
      } 

       .acc__icon-line::after{
        background-color: transparent;
      }  
      
      .panel {
        position: relative;
        padding: 0px 78px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 25px;
        background: rgba(0, 0, 0, 0.01);
        border: 1px solid #b7cec7;
        color: #00000099;
        display: none;
        //overflow: hidden;
      }

      .panel::after{
        content: "";
        position: absolute;
        background-color: @dark;
        width: 100%;
        height: 5px;
        top: -75px;
        left: 0px;
        .sm-block({
          background-color: @green;
        });
      }
    }
  }
}

/* policy page */
.policy-section {
  margin-top: 5%;
  .wrapper {
    .policy__title:extend(.h2) {
      max-width: 487px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    .policy {
      position: relative;
      display: flex;
      justify-content: space-between;
      .sm-block({
        flex-direction: column;
      });

      &__subtitle {
        font-family: @rob;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: rgba(1, 117, 80, 1);
        margin-bottom: 20px;
        .sm-block({
          margin-bottom: 0px;
        });
      }

      &__text:extend(.p) {
        color: rgba(36, 32, 33, 0.6);
        max-width: 615px;
        .sm-block({
          margin-top: 20px;
        });
      }
    }
    .policy::after {
      content: "";
      background-color: #b7cec7;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -30px;
    }
    .guidelines {
      position: relative;
      margin-top: 10%;
      .sm(padding-top, 20px);
      &__title {
        font-family: @rob;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: rgba(1, 117, 80, 1);
        margin-bottom: 20px;
      }

      &__wrapp {
        display: flex;
        justify-content: space-between;
        .sm-block({
          flex-direction: column;
        });
      }

      &__item:extend(.p) {
        margin-bottom: 15px;
        color: rgba(36, 32, 33, 0.6);
        max-width: 615px;
        padding-left: 30px;
        position: relative;
      }

      &__item::before {
        content: "";
        background-color: rgba(36, 32, 33, 0.6);
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        position: absolute;
        left: 0px;
        top: 13px;
      }
    }
    .guidelines::after {
      content: "";
      background-color: #b7cec7;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -30px;
    }
    .introduction {
      margin-top: 7%;
      margin-bottom: 7%;
      .sm(padding-top, 30px);
      &__title {
        font-family: @rob;
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
        color: rgba(1, 117, 80, 1);
        margin-bottom: 20px;
      }

      &__wrapp {
        display: flex;
        justify-content: space-between;
        .sm-block({
          flex-direction: column;
        });
      }
      &__text:extend(.p) {
        max-width: 615px;
        margin-bottom: 20px;
        color: rgba(36, 32, 33, 0.6);
      }
    }
  }
}

/* change page */

.change-section {
  margin-top: 5%;
  .wrapper {
    .change__title:extend(.h2) {
      max-width: 451px;
      line-height: 47px;
      margin-bottom: 4%;
    }
    .change-rate {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      &__currency {
        position: relative;
      }
      &-txt {
        font-family: @rob;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        .sm-block({
          font-size: 22px;
        });
      }

      &__currency::before {
        content: url(/img/currency-euro.png);
        margin-right: 20px;
      }
    }
    .change-rate::after {
      content: "";
      background-color: #b7cec7;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -20px;
    }
    .change-buttons {
      padding-top: 5%;
      padding-bottom: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/* 404 page */
.p404-section {
  background-image: url(/img/bg-404.png);
  background-position: right;
  background-repeat: no-repeat;
  .sm-block({
    background: transparent;
  }); 
  .wrapper {
    .p404 {
      display: flex;
      flex-direction: column;
      align-items: center;
       .sm-block({
        margin-right: 55px;
        margin-left: 55px;
      }); 

      &__button:extend(.btn) {
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
        .sm-block({
          padding: 10px 30px;
          margin-bottom: 70px;
          margin-top: 20px;
        });
      }

      &__button::before:extend(.line-btn) {
      }
    }
  }
}

/* popup */

.popup {
  &__wrapp {
    position: absolute;
    background-color: rgb(250, 250, 250);
    background-image: url(/img/bg-404.png);
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid lightgray;
    width: 1104px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 100px;
    .lg(width, 900px);
    .md(width, 700px);
    .sm(width, 550px);
    .xs(width, 400px);
    .xxs(width, 350px);
  }

  &__icon {
    max-width: 50px;
    padding-top: 5%;
    margin: 0 auto;
    position: relative;
    //.md(max-width, 80px);
  }
  &__close {
    display: inline-block;
    margin-top: 40px;
    margin-left: 92%;
    .sm( margin-left, 88%);
  }

  &__title:extend(.h2) {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    line-height: 74px;
    max-width: 420px;
    padding-top: 40px;
    padding-bottom: 20px;

    margin: 0 auto;
    .md-block({
      font-size: 35px;
      max-width: 200px;
    });
  }
  &__link:extend(.btn) {
    display: block;
    width: 60px;
    margin: 0 auto;
    text-decoration: none;
  }
}
